// ----- Colors ------- //

$icon-color: #808080;
$icon-color-hover: #4a4a4a;
$disable-icon-color: lightgray;
$folder-icon-color: #eac64c;
$title-border-color: #e1e5e6;
$input-border-color: #bebebe;
$input-focus-color: #88D5E9;

//----- Font-sizes ------- //
$icon-font-size: 1.5em;
$text-font-size: 1.1em;